/* General */
table {
    width: 100%;
  }
  
  tr.transaction-row:not(.expanded-row):active {
    background: #2D3339;
  }
  
  tr.transaction-row:not(.expanded-row):hover {
    background: #2D3339;
  }
  
  tr.detail-row {
    height: 0;
  }
  

  /* IDs */
  #account-transactions {
    margin-left: 24px;
  }
  

  /* CLASSES */
  
  .transaction-detail {
    overflow: hidden;
    display: flex;
    height: 165px;
  }

  .tbl-row-detail {
    margin: 0 0 16px 0;
  }

  .transaction-diagram {
    min-width: 120px;
    padding: 16px 0;
    font-weight: lighter;
    margin: 16px 0 0 0;
    height: 104px;
  }
  
  .transaction-list {
    list-style-type: none;
    padding-left: 0;
    margin: 8px 0 0 0;
  }
  
  .tbl-td-detail-label {
    color: #AFA060;
    font-weight:600; 
    text-align: left;
  }

  .tbl-td-detail-value {
    color: #38E4AE;
    text-align: right;
  }

  .mat-table {
    background: #212529;
  }

  .new-transaction-column {
    padding: 6px;
  }
  
  .new-transaction-div {
    margin-left: 24px;
  }

  .text-centered {
    text-align: center;
  }

  .vertical-middle {
    vertical-align: -webkit-baseline-middle;
  }
 
  