<div >
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <div>
                        <google-chart #chart [title]="title" [type]="type" [data]="data" [options]="options"
                            [width]="width" [height]="height">
                        </google-chart>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <bills-table></bills-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>