<form [formGroup]="newBillForm" (ngSubmit)="addBill()">
    <div class="card">
        <div class="card-header">
            Add Bill
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="newBillForm" placeholder="Account name">
                        <mat-icon matSuffix></mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Amount Due</mat-label>
                        <input matInput [formControl]="newBillForm"  placeholder="$0.00">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Next due date</mat-label>
                        <input matInput [formControl]="newBillForm" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <select matNativeControl required [formControl]="newBillForm">
                            <option label="--select frequency --"></option>
                            <option *ngFor="let frequency of frequencyKeys()">{{frequency}}</option>
                        </select>
                        <mat-error *ngIf="newBillForm.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <select matNativeControl required [formControl]="newBillForm">
                            <option label="--select category --"></option>
                            <option *ngFor="let category of categoryKeys()">{{category}}</option>
                        </select>
                        <mat-error *ngIf="newBillForm.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Select cash account (required)</mat-label>
                        <select matNativeControl required [formControl]="newBillForm">
                            <option label="--select account --"></option>
                            <option *ngFor="let account of accounts" value="{{account.id}}">{{account.name}}</option>
                        </select>
                        <mat-error *ngIf="newBillForm.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-hint>Select which account will cover this bill</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-button aria-label="add new bill button" type="submit">
                        <mat-icon>add_circle_outline</mat-icon>Add Account
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>