<h2>Current Expenses</h2>
<div class="row" *ngIf="dto != undefined">
  <div class="col-md-6 inline-block" *ngFor="let expense of dto.expensesBeforeNextPayDay">
    <div class="row">
      <h3 class="expense-name"> {{ expense.name | titlecase }}</h3>
    </div>
    <div class="row">
      <div style="float:left">
        <h4> Due: {{ expense.dueDate | date }} <br />
          Amount: {{ expense.amountDue | currency }} </h4>
      </div>
      <div style="float: right;">
        <button style="vertical-align:bottom" mat-stroked-button color="primary" (click)="payExpense(expense)">Pay</button>
      </div>
    </div>
    <label *ngIf="dto == undefined">No expenses due</label>
  </div>
  <h5 *ngIf="dto.expensesBeforeNextPayDay > 0">Total {{ dto.sumOfExpensesDueThisMonth | currency }}</h5>
</div>