<form [formGroup]="newExpenseForm" (ngSubmit)="addExpense()">
    <div class="card">
        <div class="card-header">
            Add Expense
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field appearance="standard" class="expense-field">
                        <mat-label>Due date</mat-label>
                        <input matInput class="form-control" formControlName="dueDateFormControl" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-checkbox formControlName="isBillFormControl">                                              
                        Recurring Expense?
                    </mat-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field appearance="standard" class="expense-field">
                        <mat-label>Name</mat-label>
                        <input matInput class="form-control" type="text" formControlName="nameFormControl" placeholder="Name of Expense">
                        <mat-icon matSuffix></mat-icon>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field appearance="standard" class="expense-field">
                        <mat-label>Amount Due</mat-label>
                        <input matInput class="form-control" type="number" formControlName="amountDueFormControl"  placeholder="$0.00">
                        <mat-icon matSuffix></mat-icon>
                    </mat-form-field>
                </div>
            </div>          
            <div class="row">
                <div class="col-md-6 form-group">
                    <mat-form-field appearance="standard" class="expense-field">
                        <select matNativeControl required class="form-control" formControlName="frequencyFormControl">
                            <option label="-- Select Frequency --"></option>
                            <option *ngFor="let frequency of frequencies" [value]="frequency.id">
                                {{frequency.displayName | titlecase}}
                            </option>
                        </select>
                        <mat-error *ngIf="newExpenseForm.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6 form-group">
                    <mat-form-field appearance="standard" class="expense-field">
                        <select matNativeControl required class="form-control" formControlName="categoryFormControl">
                            <option label="--select category --"></option>
                            <option *ngFor="let category of categories" [value]="category.id">
                                {{category.name | titlecase}}
                            </option>
                        </select>
                        <mat-error *ngIf="newExpenseForm.hasError('required')">
                            This field is required
                        </mat-error>
                        <mat-hint></mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-button class="expense-field" aria-label="add new expense button" type="submit">
                        <mat-icon>add_circle_outline</mat-icon>Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>