<table mat-table [dataSource]="dataSource.data" multiTemplateDataRows class="mat-elevation-z8" id="tbl-accounts">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let account"> {{ account.name | titlecase}} </td>
  </ng-container>

  <!-- Balance Column -->
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef> Balance </th>
    <td mat-cell *matCellDef="let account"> {{ account.balance | currency }} </td>
  </ng-container>

  <!-- Required Savings Column -->
  <ng-container matColumnDef="required">
    <th mat-header-cell *matHeaderCellDef> Required Savings </th>
    <td mat-cell *matCellDef="let account"> {{ account.requiredSavings | currency }} </td>
  </ng-container>

  <!-- Surplus Column -->
  <ng-container matColumnDef="surplus">
    <th mat-header-cell *matHeaderCellDef> Surplus </th>
    <td mat-cell *matCellDef="let account"> {{ account.surplus | currency }} </td>
  </ng-container>

 <!-- Action Column -->
 <ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef> Action </th>
  <td mat-cell *matCellDef="let account" class="action-link"> 
    <a [routerLink]="['/editAccount']" [queryParams]="{id: account.id, name: account.name, balance: account.balance}">Edit</a>  
  </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let account; columns: columnsToDisplay;"></tr>    
</table>