<form [formGroup]="newAccountForm" (ngSubmit)="addAccount()">
    <div class="card">
        <div class="card-header">
            Add Account
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <mat-form-field class="new-account-form-field">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" formControlName="nameFormControl">
                        <button mat-button *ngIf="newAccountForm" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-sm-12 col-md-3">
                    <mat-form-field class="new-account-form-field">
                        <mat-label>Balance</mat-label>
                        <input matInput type="number" formControlName="balanceFormControl">
                        <button mat-button *ngIf="newAccountForm" matSuffix mat-icon-button aria-label="Clear"
                            (click)="value=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button mat-button class="account-field" aria-label="add new account button" type="submit">
                        <mat-icon>add_circle_outline</mat-icon>Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>