<div >
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <div>
                      <account-bar-graph></account-bar-graph>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <accounts-table></accounts-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>