<div >
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-title">
                    <div>
                        <google-chart #chart [title]="title" [type]="type" [data]="data" [options]="options"
                            [width]="width" [height]="height">
                        </google-chart>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <accounts-table></accounts-table>
                        </div>
                        <div class="col-md-6">
                            <!-- <account-details></account-details> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="text-align: center;">
                                        <div>Expenses per Month</div>
                                        <div>55</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align: center;">
                                        <div>Paycheck Contribution</div>
                                        <div>75</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align: center;">
                                        <div>Savings %</div>
                                        <div>5.00%</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="text-align: center;">
                                        <div>Other Metric</div>
                                        <div>23</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Bills Tied To Account</label>
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">Renters Insurance</div>
                                                <div class="col-md-5">12</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">Auto Insurance</div>
                                                <div class="col-md-5">36</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">Health Insurance</div>
                                                <div class="col-md-5">56</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">Dental Insurance</div>
                                                <div class="col-md-5">5</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="row">
                                                <div class="col-md-6">Life Insurance</div>
                                                <div class="col-md-5">22</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>