<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <amount-due-graph></amount-due-graph>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <add-expense></add-expense>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <expenses-table></expenses-table>
    </div>
    <div class="col-md-3"></div>
</div>
