
    <amount-due-graph></amount-due-graph>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
    
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <add-expense></add-expense>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <expenses-table></expenses-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
