<mat-toolbar id="mainNav" style="display: inline-block;">
    <span>JP FINANCIAL</span>
   
    <div style="float:right">
        <button mat-icon-button style="min-width: 50px;" class="icon">
            Register
        </button>
        <span class="spacer"></span>
        <button mat-icon-button style="min-width: 50px;" class="icon">
            Login
        </button>
        <span class="spacer"></span>
        <button mat-icon-button style="min-width: 50px;" class="icon">
            Logout
        </button>
    </div>
</mat-toolbar>