    <div class="container-fluid ">
        <div class="row justify-content-center">
            <ul class="nav justify-content-center">
                <li class="nav-item">@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                <li class="nav-item">@Html.ActionLink("Accounts", "Index", "Accounts")</li>
                <li class="nav-item">@Html.ActionLink("Bills", "Index", "Bills")</li>
                <li class="nav-item">@Html.ActionLink("Transactions", "Index", "Transactions")</li>
            </ul>
        </div>
    </div>

