<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <cash-flow-graph></cash-flow-graph>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <add-transaction></add-transaction>
    </div>
    <div class="col-md-3"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <transactions-table></transactions-table>
    </div>
    <div class="col-md-3"></div>
</div>

