<div class="row">
    <div class="col-md-6" id="left-column-div">
        <div class="row">
            <div class="col-md-12" id="income-div">
                <metrics></metrics>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="account-div">
             <income-expense-tracking></income-expense-tracking>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="right-column-div">
      <div class="row">
        <expenses-due-before-next-payday-list></expenses-due-before-next-payday-list>
      </div>
    </div>
</div>