<div class="row">
</div>
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron-fluid">

                <div class="row">
                    <div class="col-12" id="graph">
                        <div id="cashFlowDiv" class="card text-white bg-dark">
                            <div class="header">
                                <h4 class="title">Cash Flow</h4>
                            </div>
                            <div class="content">
                                <div id="chartCashFlow" class="ct-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="metricsRow">
                    <div class="col-8" id="expenseCol">
                        <div id="expense">
                            <div class="card text-white bg-dark">
                                <div class="card-header card-title text-center">Metrics</div>
                                <div class="card-body" style="display: flex">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Minimum Monthly Expenses</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.MinimumMonthlyExpenses.ToString("C")</div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Due Before Next Paycheck</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.DueBeforeNextPayPeriod.ToString("C")</div> -->
                                        </div>
                                        @*<div class="row">
                                                <div class="col-6 expenseContentLabel">Targeted Net Worth</div>
                                                <!-- <div class="col-6 expenseContentValue">@Model.Metrics.TargetedNetWorth.ToString("C")</div> -->
                                            </div>*@
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Cash Balance</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.CashBalance.ToString("C")</div> -->
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <div>50-20-30 Rule</div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <!-- <div>@Model.Metrics.BudgetRuleExpense.ToString("C") / @Model.Metrics.BudgetRuleSavings.ToString("C") / @Model.Metrics.BudgetRuleDiscretionary.ToString("C")</div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" id="incomeCol">
                        <div id="income">
                            <div class="card text-white bg-dark">
                                <div class="card-header card-title text-center">Ratios</div>
                                <div class="card-body" style="display: flex">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Debt-To-Income</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.DebtToIncome.ToString("C")</div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Savings</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.SavingsRate.ToString("P")</div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Emergency Fund (Months)</div>
                                            <!-- <div class="col-6 expenseContentValue">@Model.Metrics.EmergencyFundRatio.ToString("F")</div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" id="disposableIncomeCol">
                        <div id="disposableIncome">
                            <div class="card h-100 text-white bg-dark">
                                <div class="card-header card-title text-center">
                                    Disposable Income
                                    <div>
                                        <!-- @Html.Hidden("hiddenDisposableValue") -->
                                        <!-- <input type="text" name="disposableIncomeValue_@Model.DisposableIncomeAccount.Id" id="disposableIncomeValue_@Model.DisposableIncomeAccount.Id" value="@Model.Metrics.DisposableIncome.ToString("C")" readonly="readonly" style="text-align: center; border: 0; background: transparent; color: #E1E5EE" /> -->
                                    </div>
                                    <!-- <div><input type="button" class="btn btn-dark text-info" id="updateAccountsButton" value="Save Changes" onclick="updateAccounts(event)" /><label for="updateAccountsButton" id="saveResponseLabel" style="display: block; color:transparent">test</label></div> -->
                                    <div></div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4" id="accountCol1"></div>
                                        <div class="col-4" id="accountCol2"></div>
                                        <div class="col-4" id="accountCol3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>