<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <cash-flow-graph></cash-flow-graph>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6" id="amortized-expenses-div">
        <disposable-income></disposable-income>
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        budget
    </div>
    <div class="col-md-3">

    </div>
</div>
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        Account Balancing
    </div>
    <div class="col-md-3">

    </div>
</div>