<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" id="income-div">
                <expenses-due-before-next-payday-list></expenses-due-before-next-payday-list>
            </div>
            <div class="col-md-8">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12" id="account-div">
                <income-expense-tracking></income-expense-tracking>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="right-column-div">
        <div class="row">

        </div>
    </div>
</div>