<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Expenses Due Before Next Pay Day
            </div>
            <div class="card-body">
                {{ expensesDueBeforeNextPayDay }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Required Savings
            </div>
            <div class="card-body">
                {{ requiredSavings }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Current Savings
            </div>
            <div class="card-body">
                {{ currentSavings }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Remaining Income This Month
            </div>
            <div class="card-body">
                {{ remainingIncomeThisMonth }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Disposable Income
            </div>
            <div class="card-body">
                {{ disposableIncome }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
       
    </div>
</div>

