    <div id="income-expense-tracking-container">
    <div class="card">
        <div class="card-header">
            <h2>Budget - {{ budgetDisplayDate }}</h2>
        </div>
        <div class="card-body">

            <h3>Income</h3>  
            <mat-progress-bar mode="determinate" [value]="incomePercentage"></mat-progress-bar>
            <label>{{dto.incomeThisMonth | currency}} out of {{dto.expectedMonthlyIncome | currency}} expected monthly
                income.</label>

            <h3>Expense</h3>
            <mat-progress-bar mode="determinate" [value]="expensePercentage"></mat-progress-bar>
            <label>{{dto.expensesThisMonth | currency}} out of {{dto.expectedMonthlyExpenses | currency}} scheduled
                monthly expenses.</label>

        </div>
        <div class="card-footer">
            <h3>Savings</h3>
            <mat-progress-bar mode="determinate" [value]="savingsPercentage"></mat-progress-bar>
            <label>{{dto.savingsThisMonth | currency}} out of {{dto.expectedMonthlySavings | currency}} expected monthly
                savings.</label>
        </div>
    </div>
</div>