<div *ngIf="dto != undefined">
<div class="row">
    <div class="col-md-6" style="margin-bottom: 12px;">
        <div class="card">
            <div class="card-header">
                Due Before Next Pay Day <br/>
                {{ dto.nextPayDay | date }}
            </div>
            <div class="card-body">
                {{ dto.totalExpensesDueBeforeNextPayDay | currency }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Required Savings
            </div>
            <div class="card-body">
                {{ dto.requiredSavings | currency }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
             {{ dto.month }}, {{ dto.year }} Expenses
            </div>
            <div class="card-body">
                {{ totalExpensesThisMonth | currency }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Income This Month
            </div>
            <div class="card-body">
                {{ dto.incomeThisMonth | currency }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Cash Balance
            </div>
            <div class="card-body">
                {{ dto.cashBalance | currency }}
            </div>
            <div class="card-footer">
                <mat-hint>Balance of all savings & checking accounts</mat-hint>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Accounting Surplus
            </div>
            <div class="card-body">
                {{ dto.accountingBalance | currency }}
            </div>
            <div class="card-footer">
                <mat-hint>Extra $ after future obligations are accounted for</mat-hint>
            </div>
        </div>
    </div>
</div>
</div>

