#close-nav-btn {
  margin-top: 10px;
  margin-bottom: 40px;
}

.container {
    width: 160px;
    height: 400px;
    border: 0;
    font-size: 14px;
    overflow: hidden;
    background: transparent;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: transparent;
  }

  .mat-drawer {
    background: transparent;
    border: 0px;
  }
  
  .sidenav {
    padding: 20px 20px 0 0;
  }

  .icon {
    font-size: 52px;
    color: #508AA8;
  }

  .nav-item {
    padding: 8px 0;
    margin-bottom: 8px;
  }

  a {     
    display: inline-block;     
    position: relative;    
    z-index: 1;     
    padding: 2em;     
    margin: -2em; 
 }