<nav mat-tab-nav-bar>
    <a mat-tab-link [routerLink]="['/dashboard']" (click)="activeLink = this.links[0]" [active]="activeLink == this.links[0]"> Dashboard </a>
    <a mat-tab-link [routerLink]="['/accounts']" (click)="activeLink = this.links[1]" [active]="activeLink == this.links[1]"> Accounts </a>
    <a mat-tab-link [routerLink]="['/expenses']" (click)="activeLink = this.links[2]" [active]="activeLink == this.links[2]"> Expenses </a>
    <a mat-tab-link [routerLink]="['/transactions']" (click)="activeLink = this.links[3]" [active]="activeLink == this.links[3]"> Transactions </a>
    <a mat-tab-link [routerLink]="['/income']" (click)="activeLink = this.links[4]" [active]="activeLink == this.links[4]"> Income </a>
</nav>